<!DOCTYPE html>
<html lang='ja'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title><!--ESTTITLE--></title>
		<link href='/app/full_text_search/assets/css/fts.css' rel='stylesheet'>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
		<script src='/app/full_text_search/assets/js/fts.js'></script>
	</head>
	<body onload='onloadCheckOff();'>
		<nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
			<div class='container-fluid'>
				<div class='navbar-header'>
					<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#main_category_menu'>
						<span class='sr-only'>Toggle navigation</span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
						<span class='icon-bar'></span>
					</button>
					<a class='navbar-brand' href='http://192.168.66.71/databank/documents'><img alt='Folder' src='/app/full_text_search/assets/icon/folder.svg'></a>
				</div>
				<div class='collapse navbar-collapse' id='main_category_menu'>
					<ul class='nav navbar-nav navbar-left'>
						<li class='dropdown'>
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Development<span class='caret'></span></a>
							<ul class='dropdown-menu' role='menu'>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Development/LabVIEW.cgi'>LabVIEW</a></li>
							</ul>
						</li>
						<li class='dropdown'>
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Engineer<span class='caret'></span></a>
							<ul class='dropdown-menu' role='menu'>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/Advion.cgi'>Advion</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/AistiScience.cgi'>AistiScience</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/Aurora.cgi'>Aurora</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/CO.FO.ME.GRA.cgi'>CO.FO.ME.GRA</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/CTC.cgi'>CTC</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/FTA.cgi'>FTA</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/Isoprime.cgi'>Isoprime</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/Nabertherm.cgi'>Nabertherm</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/Occhio.cgi'>Occhio</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/Oxford.cgi'>Oxford</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Engineer/PhenomWorld.cgi'>PhenomWorld</a></li>
							</ul>
						</li>
						<li class='dropdown'>
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Library<span class='caret'></span></a>
							<ul class='dropdown-menu' role='menu'>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Library/Analytical_Instruments.cgi'>Analytical_Instruments</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Library/Electronics.cgi'>Electronics</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Library/English.cgi'>English</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Library/Export_Control.cgi'>Export_Control</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Library/Programming.cgi'>Programming</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Library/Trouble_Shooting.cgi'>Trouble_Shooting</a></li>
							</ul>
						</li>
						<li class='dropdown'>
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Sales<span class='caret'></span></a>
							<ul class='dropdown-menu' role='menu'>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Sales/BizOutlook.cgi'>BizOutlook</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Sales/フォーム.cgi'>フォーム</a></li>
								<li><a href='http://192.168.66.71/cgi-bin/fts/Sales/研究分野別.cgi'>研究分野別</a></li>
							</ul>
						</li>
					</ul>	
				</div
			</div>
		</nav>
		<div class='container'>
<!--ESTFORM-->
<!--ESTRESULT-->
		</div>
		<nav class='navbar navbar-default navbar-fixed-bottom' role='navigation'>
			<div id='estinfo' class='estinfo'>
				<div id='info-nav'><!--ESTTITLE--></div>
				<a href='http://fallabs.com/hyperestraier/'>Powerd by Hyper Estraier 1.4.13</a>
			</div>
		</nav>
	</body>
</html>
